.account-form {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    /* min-height: calc(100vh - 120px); Assuming the header and footer are 60px each */
    padding: 20px;

    width: 400px;
    margin: 0 auto;
}

.account-form input {
    border-radius: 10px;
}

.account-form button {
    background-color: #4bbf73;
    color: white;
    padding: 10px 15px;
    margin-top: 15px;
    border: none;
}