.event-form {
    width: 600px;
    margin: 0 auto;
  }
  
  .event-form div {
    margin-bottom: 16px;
  }
  
  .event-form label {
    display: block;
    margin-bottom: 8px;
  }
  
  .event-form input,
  .event-form textarea,
  .event-form select {
    width: 100%;
    padding: 8px;
    margin-bottom: 8px;
    box-sizing: border-box;
    border-radius: 10px;
  }
  
  .event-form button {
    background-color: #4bbf73;
    color: white;
    padding: 10px 15px;
    border: none;
  }