.event-form {
  width: 600px;
  margin: 0 auto;
}
  
  
.event-form input, 
.event-form textarea{
  border-radius: 10px;
}

.form-control {
  border-radius: 10px;
  /* height: 3.8em; */
}
  
.event-form button {
  background-color: #4bbf73;
  color: white;
  padding: 10px 15px;
  margin-top: 15px;
  border: none;
}