#root {
  margin: 0;
  padding: 0;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.App {
  margin: 0;
  display: block;
  min-width: 320px;
  min-height: 100vh;
}

.App ul {
  list-style: none;
  padding: 20px 40px;
  margin: 0;
}

.App-header {
  padding-top: 0;    /* Adjust or remove padding as needed */
  padding-bottom: 0; /* Adjust or remove padding as needed */
  margin-bottom: 0;  /* Adjust or remove margin as needed */
  /* Any other styles that are making the header thick */
}



/* .navbar-brand, .nav-link {
  padding: 0.25rem 0.5rem; /* Reduce the padding around links */

/* App.css */

/* Reduces the top and bottom padding on all navbar links */
.navbar-nav .nav-link {
  padding-top: 0.0rem;
  padding-bottom: 0.0rem;
}

/* Adjusts the navbar brand logo size and spacing */
.navbar-brand {
  padding-top: 0.0rem;
  padding-bottom: 0.0rem;
  line-height: 0;
}


/* Adjust the spacing for the logout button as well */
.navbar .btn {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

